.menu {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 15vw;
  .links {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    p{
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 18px;
      color: #fff;
      font-style: normal;
      letter-spacing: 0.4em;
      text-transform: uppercase;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 13vw;
      height: 3rem;
      text-decoration: none;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      opacity: 65%;
    }
  }
}
