.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 15vw;
    background: #051D3B;
    
    a{
        text-decoration: none;
        font-size: 1.4vw;
        margin: 0.6rem 0;
        color: #fff;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}